$bg-pink: rgba(224, 172, 155, 0.25)
$bg-green: rgba(117, 216, 102, 0.32)

html
    // Position
    padding: 0
    margin: 0

    body
        // Size
        width: 100%
        height: auto
        // Position
        padding: 0
        margin: 0
        // Style
        background-color: $bg-pink

        div.page
            // Flexbox
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            // Size
            max-width: 700px
            height: 100%
            // Position
            margin: auto

            div.navbar
                // Flexbox
                display: flex
                justify-content: space-around
                // Size
                width: 100%

                img
                    // Size
                    width: 170px

            img.logo
                // Position
                padding: 30px 0 20px

            img.tv
                // Size
                width: 700px
